.services-container {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.consultation-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f85a7e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.consultation-button:hover {
    background-color: #f4436f;
}

.gallery-card {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 360px;
    max-height: 240px;
    cursor: pointer;
}

.gallery-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.gallery-title {
    margin-top: 10px;
    font-size: 1.2em;
}

.tab-navigation {
    text-align: center;
}

.tabs-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.scroll-button {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.tabs {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* For Firefox */
}

.tabs::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.tab {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
}

.tab.active {
    background-color: #ff7f7f;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
